.RecentlyViewedContainer {
  padding: 50px 15% 0 15%;

  @media only screen and (max-width: 1536px) {
    padding: 50px 5% 0 5%;
  }
}

.RecentlyViewedTitle {
  display: flex;
  flex-direction: column;
  height: 100px;
  text-align: center;
  justify-content: flex-start;

}

.RecentlyViewedTitleH3 {
  color: #222222;
  font-size: 25px;
  font-family: Avenir;
  font-weight: 500;
  word-wrap: break-word;
  margin: 0;
  padding: 10px;
}

.RecentlyViewedTitleP {
  color: #5a5a5a;
  font-size: 15px;
  font-family: Avenir;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
  padding-bottom: 20px;
}

.RecentlyViewedCards {
  display: grid;
  grid-template-columns: repeat(4, minmax(210px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
}

.RecentlyViewedSingleCard {
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: 400px;
  padding-bottom: 50px;
}
.re

.RecentlyViewedImageContainer {
  width: 210px;
  height: 400px;
  background: #f9f9f9;
  display: grid;
  align-items: center;
}

.RecentlyViewedImage {
  width: 210px;
  height: 250px;
}

.RecentlyViewedProductInfo {
  width: 210px;
  display: grid;
  justify-items: center;
}

.RecentlyViewedMakeup {
  color: #5a5a5a;
  font-size: 15px;
  font-family: Avenir;
  font-weight: 400;
  word-wrap: break-word;
  margin: 6px;
}

.RecentlyViewedText {
  color: #222222;
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
  margin: 6px;
}

.RecentlyViewedStars {
  color: orange;
  width: 12px;
  height: 14px;
}

.RecentlyViewedArrowLeft {
  position: relative;
  left: -10%;
  bottom: -321px;
  width: 50px;
}

.RecentlyViewedArrowRight {
  width: 50px;
  position: relative;
  right: -101.3%;
  bottom: 327px;
}


.RecentlyViewedSingleCard .RecentlyViewedAddToCartButton {
  position: relative;
  width: 210px;
  height: 50px;
  bottom: 50px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #222;
  color: #fff;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.RecentlyViewedSingleCard:hover .RecentlyViewedAddToCartButton {
  opacity: 1;
}

.ProductRatingStar {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: gray;
}

.ProductRatingStarFilled {
  color: #eba37a;
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}