.carousel {
  overflow: hidden;
  width: 100%;
}

.cardContainer {
  gap: 30px;
  display: flex;
}

.card {
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
}

.arrowRight {
  width: 50px;
  position: relative;
  bottom: 385px;
  right: -95%;
}

.arrowLeft {
  position: relative;
  left: 50px;
  top: 420px;
}