.heroBannerContainer {
  background-size: cover;
  height: 757px;
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;

  min-width: 900px;
}

.heroBannerTextContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;
  padding: 0 255px 0 255px;
}

.heroBannerTextContainerH1 {
  color: #222;
  font-family: Avenir;
  font-size: 70px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin: 0;
}

.heroBannerTextContainerP {
  width: 622px;
  color: #222;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

.heroBannerTextContainerButton {
  color: #fff;
  background-color: #222;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 161px;
}

.heroBannerArrowLeft {
  position: relative;
  left: -15%;
}

.heroBannerArrowRight {
  position: relative;
  right: -50%;
}