.chatBoxContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eba37a;
    display: grid;
    border: solid 1px #e4a079;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  