.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 62px;
  padding: 16px 0;
  justify-content: center;
}

.wrapper > a {
  color: #222;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  padding: 20px 0; 
}

/* Dropdown Button */
.dropbtn {
  color: #222;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropDownHover {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropDownContent {
  top: 34px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropDownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropDownContent a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropDownHover:hover .dropDownContent {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropDownHover:hover .dropbtn {
  font-weight: bold;
}
