.container {
  padding: 0 255px 0 255px;
  height: 100px;
  /* margin-bottom: 15px; */
}

.wrapper {
  /* max-width: 1280px; */
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  padding: 25px 0;
  border-bottom: 1px solid #E4E4E4;
  align-items: center;
}

.searchBar {
  border: solid 1px #E4E4E4;
  border-radius: 25px;
  height: 48px;
  margin: 0 75px;
  display: flex;
  align-items: center;
}

.searchBar > div:first-child {
  margin-left: 30px;
}

.icons {
  display: flex;
  gap: 25px;
  justify-content: right;
  padding-right: 15px;
}
