.container {
  margin-top: 65px;
  @media (max-width: 450px) {
    margin-top: 0px;
    width: 100%;
  }
}
.addressContainer {
  display: flex;
  flex-direction: row;
  @media (max-width: 450px) {
display: grid;
  }
}
.title {
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  @media (max-width: 450px) {
    line-break: loose;
    max-width: 100vw;
  }
}
.billingAddress,
.shippingAddress {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.addressType {
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0;
}
.addressLine {
  color: var(--color-head, #222);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.edit {
  height: 50px;
  color: var(--color-head, #222);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 184.615% */
  margin: 50px;
  margin-top: 0;
  cursor: pointer;
  text-decoration: underline;
}
