.container {
  padding: 0px 15%;
  display: grid;
  grid-template-columns: 330px 1fr;
  @media (max-width: 450px) {
    grid-template-columns: 1fr;
    padding: 0px 5%;
  }
}
.right {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: 450px) {
    min-height: 550px;
    margin-bottom: 20px;
  }
}

.overflowX {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;
}
.left {
  width: 330px;
}
.title {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #222;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  @media (max-width: 450px) {
    z-index: 130;
    position: fixed;
  }
}
.listItem {
  margin-bottom: 35px;
  position: relative;
  color: #222;
  text-decoration: none;
  font-style: normal;
  line-height: normal;
  padding-bottom: 5px;
  list-style: none;
  font-size: 18px;
  max-width: 200px;
  font-weight: 450;
  cursor: pointer;
}
.listItem:hover {
  color: #eba37a;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.listItem:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  background: #eba37a;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
  margin-left: 10px;
}

.listItem:hover::before {
  margin-left: 5px;
  width: 50%;
}
.ul {
  padding: 0;
}
.rightSectionContainer {
  display: flex;
  flex-direction: column;
}
.userInfo {
  color: var(--color-head, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.span {
  text-decoration: underline;
  cursor: pointer;
}
.rightSectionTextContainer {
  @media (max-width: 450px) {
    width: 100%;
    margin-top: 200px;
  }
}

.hamburger,
.bar {
  position: absolute;
}

.hamburger:hover .bar {
  color: var(--color-head, #222);
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger {
  display: block;
  top: 140px;
  right: 1.4rem;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
  z-index: 130;
}

.bar {
  top: 27px;
  left: 10px;
  background: #373737;
  width: 30px;
  height: 4px;
  transition: all 0.6s ease-in;
  justify-self: right;
}

#bar2 {
  top: 35px;
}

#bar3 {
  top: 43px;
}

.navigation.active {
  right: 0;
}

.hamburger.open #bar1 {
  color: var(--color-head, #222);
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  color: var(--color-head, #222);
  transform: rotate(-45deg) translate(6px, -5px);
}

.visibilityForMobile {
  display: none;
}

@media (max-width: 450px) {
  .visibilityForMobile {
    display: contents;
  }
  .visibilityForDeskTop {
    display: none;
  }
}

.mobileMenu {
  margin-top: 200px;
  margin-left: 0%;
  z-index: 10;
}

.backDrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
  height: 100%;
  padding: 0rem 1.2rem;
  background-color: white;
  overflow-y: scroll;
  display: flex;
  justify-content: left;
  cursor: pointer;
  overflow: hidden;
}

.backDrop.active {
  display: flex;
  z-index: 110;
}
