.itemContainer {
  display: flex;
  flex-direction: column;
  cursor: auto;
  margin-bottom: 50px;
}

.topItemGrid {
  display: grid;
  grid-template-columns: 1fr auto;
}
.topItemGrid > p {
  margin: 0;
  color: var(--color-second, #767676);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.imgContainer {
  width: 100%;
  height: 250px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.imgContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.closeLogin {
  border: none;
  background-color: #ffffff;
  font-size: medium;
  justify-self: right;
  cursor: pointer;
  position: relative;
  top: -239px;
  right: 216px;
}

.price {
  text-align: right;
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productInfo {
  display: flex;
  flex-direction: column;
}
.productInfo > span {
  color: var(--color-head, #222);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.productInfo > span > p {
  margin: 0;
}

.ProductRatingStar {
  font-family: FontAwesome;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: gray;
}

.ProductRatingStarFilled {
  color: #eba37a;
  font-family: FontAwesome;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.items {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
