.footerBotContainer {
display: grid;
grid-auto-flow: column;
color: white;
font-size: 12px;
font-weight: 400;
line-height: 24px;
word-wrap: break-word;
}

.optionsContainer {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    justify-self: end;
    column-gap: 23px;
 
  
}

.arrowUp {
    margin-left: 10px;
    position: relative;
    top: 3px;
}