@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@500&display=swap');

.footerMidContainer {
    display: grid;
    padding: 98px 0px 88px;
    grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
    column-gap: 67px;
    border-top: 1px #ffffff10 solid;
    border-bottom: 1px #FFFFFF10 solid;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    word-wrap: break-word;
    font-family: 'Prompt', sans-serif;
}


.socialIconContainer {
    display: grid;
    grid-auto-flow: column;
    max-width: 64%;
    padding-top: 47px;
    font-family: 'Prompt', sans-serif;
}

.titles > h4 {
    color: white;
    font-size: 18px;
    word-wrap: break-word;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
}

.company {
  list-style-type: none;
  padding: 0;
font-size: 12px;
font-weight: 200;
line-height: 40px;
word-wrap: break-word 

}
