@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Sen:wght@500&display=swap");

.footerTopContainer {
  padding: 48px 0px;
  color: white;
display: flex;
flex-direction: row;
}

.badges {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
}

.badgeTitle > p,
.badgeTitle > h5 {
  margin: 5px;
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  color: white;
}

.badgeTitle > h5 {
  font-size: 16px;
}
.badgeTitle > p {
  font-size: 14px;
}

.delivery {
    display: grid;
    place-self: center;
}

.badgesRight  {
    justify-self: end;
}
.badgesCenter {
    justify-self: center;
}

@media (max-width : 768px){
  .footerTopContainer {
    display: flex;
    flex-direction: column;
  }
  .badges {
    grid-template-columns: auto;
    justify-self: center;
    margin-top: 50px;
    row-gap: 20px;
    text-align: center;
  }
 
}
@media (min-width : 768px){
  .footerTopContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }

 
}
@media (max-width : 950px){
  .badges {
display: flex;
    margin-top: 50px;
    text-align: center;
  }
  .footerTopContainer {
  padding:  0;
   }
 
}
