.WeeklyFeaturedContainer {
  padding: 0px 255px 0 255px;
  max-height: 737px;
  max-width: 1280px;
}

.WeeklyFeaturedTitle {
  display:flex;
  flex-direction: column;
  height: 100px;
  text-align: center;
  justify-content: start;
}

.WeeklyFeaturedTitleH3 {
  color: #222222;
  font-size: 25px;
  font-family: Avenir;
  font-weight: 500;
  word-wrap: break-word;
  margin: 0;
  padding: 10px;
}

.WeeklyFeaturedTitleP {
  color: #5a5a5a;
  font-size: 15px;
  font-family: Avenir;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
  padding-bottom: 20px;
}

.WeeklyFeaturedCards {
  display: grid;
  grid-template-columns: repeat(4, minmax(210px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
}

.WeeklyFeaturedSingleCard {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: 400px;
}

.WeeklyFeaturedImageContainer {
  width: 210px;
  height: 400px;
  background: #f9f9f9;
  display: grid;
  align-items: center;
}

.WeeklyFeaturedImage {
  width: 210px;
  height: 250px;
}

.WeeklyFeaturedProductInfo {
  width: 210px;
  display: grid;
  justify-items: center;
}

.WeeklyFeaturedMakeup {
  color: #5a5a5a;
  font-size: 15px;
  font-family: Avenir;
  font-weight: 400;
  word-wrap: break-word;
  margin: 6px;
}

.WeeklyFeaturedText {
  color: #222222;
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
  margin: 6px;
}

.WeeklyFeaturedStars {
  color: orange;
  width: 12px;
  height: 14px;
}

.WeeklyFeaturedArrowLeft {
 position: relative;
    left: -101px;
    bottom: -325px;
    width: 50px;
}

.WeeklyFeaturedArrowRight {
  width: 50px;
  position: relative;
  right: -960px;
  bottom: 326px;
 
}

.WeeklyFeaturedSingleCard .WeeklyFeaturedAddToCartButton {
  position: relative;
  width: 210px;
  height: 50px;
  bottom: 50px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #222;
  color: #fff;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.WeeklyFeaturedSingleCard:hover .WeeklyFeaturedAddToCartButton {
  opacity: 1;
}

.ProductRatingStar {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: gray;
}

.ProductRatingStarFilled {
  color: #eba37a;
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}