.WeeklyFeaturedContainer {
  padding: 50px 185px 0 185px;

}

.WeeklyFeaturedTitle {
  display: flex;
  flex-direction: column;
  height: 100px;
  text-align: center;
  justify-content: flex-start;
}

.WeeklyFeaturedTitleH3 {
  color: #222222;
  font-size: 25px;
  font-family: Avenir;
  font-weight: 500;
  word-wrap: break-word;
  margin: 0;
  padding: 10px;
}

.WeeklyFeaturedTitleP {
  color: #5a5a5a;
  font-size: 15px;
  font-family: Avenir;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
  padding-bottom: 20px;
}

.WeeklyFeaturedSingleCard {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: 500px;
}

.WeeklyFeaturedImageContainer {
  width: 210px;
  height: 280px;
  background: #f9f9f9;
  display: grid;
  align-items: center;
}

.WeeklyFeaturedImage {
  width: 210px;
  height: 250px;
}

.WeeklyFeaturedProductInfo {
  width: 210px;
  display: grid;
  justify-items: center;
}

.WeeklyFeaturedMakeup {
  color: #5a5a5a;
  font-size: 15px;
  font-family: Avenir;
  font-weight: 400;
  word-wrap: break-word;
  margin: 6px;
}

.WeeklyFeaturedText {
  color: #222222;
  font-size: 12px;
  font-family: Avenir;
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
  margin: 6px;
}

.WeeklyFeaturedStars {
  color: orange;
  width: 12px;
  height: 14px;
}

.WeeklyFeaturedSingleCard .WeeklyFeaturedAddToCartButton {
  position: relative;
  width: 210px;
  height: 30px;
  bottom: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #222;
  color: #fff;
  font-family: Jost;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 0;
}

.WeeklyFeaturedSingleCard:hover .WeeklyFeaturedAddToCartButton {
  opacity: 1;
}

.ProductRatingStar {
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: gray;
}

.ProductRatingStarFilled {
  color: #eba37a;
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}