.loginBox {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  background-color: white;
  z-index: 101;
  @media (max-width: 450px) {
    width: 100%;
  }
}

.closeLoginForm {
  background: #faf9f8;
  display: flex;
  height: 82px;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.closeLogin {
  border: none;
  background-color: #faf9f8;
  font-size: medium;
  cursor: pointer;
}

.loginText {
  color: #222;
  font-weight: 500;
}

.loginForm {
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
}

.textBox {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.inputInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.checkboxLabel {
  display: flex;
  justify-content: space-between;
}

.checkboxInput {
  margin-right: 10px;
}

.loginButton {
  width: 100%;
  background: #222222;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
}

.newAccount {
  text-align: center;
}

.newAccount > span {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}
.error {
  font-size: 13px;
  color: red;
  position: absolute;
  top: 240px;
}
