
.loginBox{
    height: 100vh;
    position:fixed;
    top: 0;
    right: 0;
    width: 250px;
    background-color: white;
    z-index: 101;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.textBox {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* Add some spacing between input sections */
}

.inputInfo {
    display: flex; /* Use flex to align items horizontally */
    justify-content: space-between; /* Add space between the items */
    align-items: center; /* Vertically center items */
    margin-bottom: 10px;
  }
  
  .checkbox-label {
    display: inline-block; /* Display the label inline */
    margin-right: 10px; /* Add some spacing between label and checkbox */
  }
  
  .login-button {
    width: 100px; /* Adjust the button width as needed */
  }