.MostPreferredContainer {
    padding: 0px 255px 0 255px;
  }
  
  .MostPreferredTitleH2 {
    color: var(--color-head, #222);
    text-align: center;
    font-family: Avenir;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 10px;
  }
  
  .MostPreferredTitleP {
    color: #5a5a5a;
    text-align: center;
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding-bottom: 20px;
  }
  
  .MostPreferredCards {
    display: grid;
    grid-template-columns: repeat(4, minmax(210px, 210px));
    justify-content: center;
    padding-top: 20px;
    grid-gap: 30px;
  }
  
  
  .MostPreferredSingleCardP {
    color: var(--color-head, #222);
    text-align: center;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px;
  }
  
  .MostPreferredSingleCardImage {
    width: 210px;
    height: 350px;
    transition: transform 0.6s;
  }
  .MostPreferredSingleCardImage:hover{
    transform: scale(1.1);
  }
  
  .MostPreferredSingleCard {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 210px;
    height: 350px;
  }
