/* Dropdown Button */
.dropbtn {
  color: #222;
  font-size: 16px;
  border: none;
  padding-bottom: 19px;
}

/* The container <div> - needed to position the dropdown content */
.dropDownHover {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropDownContent {
  top: 36px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropDownHover:hover .dropDownContent,
.dropDownContent:hover {
  display: block;
}

/* Links inside the dropdown */
.dropDownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropDownContent a:hover {
  background-color: #ddd;
}
