.dropDownSelect {
  background-color: #222222;
  color: #8a8a8a;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  border: none;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-up" viewBox="0 0 16 16" style="transform: rotate(180deg);"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.908l6-6z" /></svg>') no-repeat right #222222;
}

.dropDownSelect:focus,
.footerDropDown:focus {
  outline: none;
}

.footerDropDown {
  background-color: #222222;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  border: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>')
    no-repeat right #222222;
  appearance: none;
  padding-right: 1.5rem;
  background-position: right 0.1rem center;
}
