.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1090px;
}

.cardContainer {
  gap: 30px;
  min-width: 900px;
  display: flex;
}

.card {
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
}


.arrowRight {
  position: relative;
  bottom: 100px;
  cursor: pointer;
}

.arrowLeft {
  position: relative;
  left: -3px;
  bottom: 100px;
  cursor: pointer;
}