.carousel {
  display: flex;
  align-items: center;

}

.cardContainer {
  gap: 30px;

  display: flex;
}

.card {
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
}


.arrowRight {
  position: relative;
  bottom: 100px;
  cursor: pointer;
}

.arrowLeft {
  position: relative;
  left: -3px;
  bottom: 100px;
  cursor: pointer;
}