.MostPopularContainer {
  padding: 50px 15% 0 15%;

  @media only screen and (max-width: 1536px) {
    padding: 50px 5% 0 5%;
  }

}
.MostPopularCards{
  display: flex;
  justify-content: center;
}
.MostPopularTitle {
  display: flex;
  flex-direction: column;
  height: 100px;
  text-align: center;
  justify-content: flex-start;
}

.MostPopularTitleH3 {
  color: #222222;
  font-size: 25px;
  font-family: Avenir;
  font-weight: 500;
  word-wrap: break-word;
  margin: 0;
  padding: 10px;
}

.MostPopularTitleP {
  color: #5a5a5a;
  font-size: 15px;
  font-family: Avenir;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
  padding-bottom: 20px;
}

.MostPopularSingleCard {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: 500px;
}

.MostPopularImageContainer {
  width: 210px;
  height: 280px;
  background: #f9f9f9;
  display: grid;
  align-items: center;
}

.MostPopularImage {
  width: 210px;
  height: 250px;
}

.MostPopularProductInfo {
  width: 210px;
  display: grid;
  justify-items: center;
}

.MostPopularMakeup {
  color: #5a5a5a;
  font-size: 15px;
  font-family: Avenir;
  font-weight: 400;
  word-wrap: break-word;
  margin: 6px;
}

.MostPopularText {
  color: #222222;
  font-size: 12px;
  font-family: Avenir;
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
  margin: 6px;
}

.MostPopularStars {
  color: orange;
  width: 12px;
  height: 14px;
}

.MostPopularSingleCard .MostPopularAddToCartButton {
  position: relative;
  width: 210px;
  height: 30px;
  bottom: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #222;
  color: #fff;
  font-family: Jost;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.MostPopularSingleCard:hover .MostPopularAddToCartButton {
  opacity: 1;
}
.MostPopularSingleCard:hover .wishListButton {
  opacity: 1;
}

.ProductRatingStar {
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: gray;
}

.ProductRatingStarFilled {
  color: #eba37a;
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.MostPopularUl {
  list-style: none;
  display: flex;
padding: 0;
  justify-content: center;
  margin: 0;
}

.tab {
  color: var(--color-second, #767676);
  text-align: center;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 50px;
  cursor: pointer;
  min-width: 70px;
}

.tab:hover {
  color: var(--color-head, #222);
  font-style: normal;
  line-height: normal;
  font-weight: bold;
  text-decoration: underline 2.5px solid;
  text-underline-offset: 0.5em;
}

.active {
  color: var(--color-head, #222);
  font-style: normal;
  line-height: normal;
  font-weight: bold;
  text-decoration: underline 2.5px solid;
  text-underline-offset: 0.5em;
}
.span{
  margin-left: 15px;
  padding-top: 5px;
  text-transform: uppercase;
}
.wishListButton{
  width: 25px;
  height: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  left: 170px;
opacity: 0;
  cursor: pointer;

}
@media (max-width:768px){
  .MostPopularContainer{
    padding: 0px 15% 0 15%;
  }
  .MostPopularSingleCard{
    padding-bottom: 0;
  }
}